<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:theme="@style/Theme.STATUS_IQ">
        <activity
            android:name="com.zoho.statusiqsdk.StatusIQActivity"
            android:exported="false" />

    </application>

</manifest>